<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Библиотека</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-end collapse navbar-collapse form-inline" id="navbarNav">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-outline-secondary">@User.Identity.Name</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Profile">Профиль</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Mylibrary">Личная библиотека</a>
                            @{
                                if (User.IsInRole("Moderator"))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Для администрации</a>
                                }
                            }
                        </div>
                    </div>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-outline-success" type="submit" value="Выход" />
                    </form>
                }
                else
                {
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Library
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
