<div class="row no-gutters">
    <div class="col-md-2 mt-5">
        <div>
            <div>
                <input class="form-control p-0 mb-4" type="text" placeholder="Поиск...">
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle btn-block" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Поиск по автору
                    </button>
                    <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="album py-5">
            <div class="container-fluid center-block">
                <div class="row">
                    <div class="col-lg-3 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="~/img/1.png" class="card-img-top" />
                            <div class="card-body">
                                <p class="card-text">Название:</p>
                                <p class="card-text">Автор:</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary">Скачать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>